**/__pycache__/
/mail/mail.yaml
/mail/test_send_mail.py
web_update_cheacker2.srctrlbm
web_update_cheacker2.srctrldb
web_update_cheacker2.srctrlprj
data/
poi.py
add_process/add.bat
add_process/config.ini
add_process/add_process.py
get_tree.py
.vscode/
users/jav/cheacker_url.csv
log/
debug/
users/j*
text_struct/__pycache__/text_struct.cpython-310.pyc
users/jav/cheacker_url.csv
test/*.txt
.coverage
.venv
venv
cheack.bat
